#start_screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start_screen_text {
    font-weight: bold;
    font-size: 2em;
    margin: 0 0 1em;
}

#start_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

select {
    width: 100px;
}

#start_form > * {
    margin: .5em 0;
}

#start_btn {
    background-color: var(--clr-light);
    font-size: 150%;
    padding: .5em;
    border-radius: .5em;
    position: absolute;
    top: 60%;
    left: 40%;
    border-radius: 0;
    height: 10%;
    width: 15%;
}

#start_btn:hover {
    background-color: var(--clr-light-gray)
}

#start_btn:active {
    background-color: var(--clr-gray)
}
