#timer_bar {
    background-color: var(--clr-red);
    width: 100%;
    height: 10px;
}

.shrink_anim {
    animation: shrink 4s linear forwards;
}

@keyframes shrink {
    to {
        width: 0;
    }
}