#timer_bar {
    height: 24%;
    position: absolute;
    bottom: 56%;
    left: 17%;
    image-rendering: pixelated;
    position: absolute;
}

.shrink_anim {
    animation: shrink 4s steps(10, end) forwards;
}

@keyframes shrink {
    from {
        left: 17%;
    }
    to {
        left: 48%;
    }
}