#background_container {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(to bottom, #61abff 50%, #0077ff 49%);
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    object-fit: contain;
}